body
{
    padding: 0;
    margin: 0;
    font-family: "Poppins";
}
header
{
    padding: 12px 8px;
    background-color: #1f1f1f;
    color: #eeeeee;
}
h1
{
    margin: 0;

}
.sec
{
    margin: 0;
    display: flex;
    flex-direction: column;
}
.show
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2px 8px;
    z-index: 1;
    height: 120px;
}
.show > h2
{
    margin: 0;
    padding: 0;
    color : #eeeeee;

}
.dev
{
    background-color: #09a04a;
}
.ent
{
    background-color: #2D82B7;
}
.met
{
    background-color: #EB8A90;
}
.projet
{
    display: none;
    position: absolute;
    z-index: -10;
    align-items: center;
    padding: 7px 8px;
    /*height: 120px;
    background-color: red;*/
}
.projet h3
{
    margin: 0;
}
.projet-1
{
    background-color: #0000004d;
}
.projet-2
{
    background-color: #00000033;
}
.projet-3
{
    background-color: #0000001c;
}
.img img
{
    max-height: 300px;
}
.desc
{
    flex: 1;
}
.img
{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.8em;
}